In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/sean/Desktop/donedeal/donedeal_data_sample.tsv", sep='\t')

In [3]:
df1 = df.head(10)

In [4]:
df1 = df1[['ad','mileage','mileageType']]

In [5]:
df1

                                 ad  mileage mileageType
0  f4ec8a11c20bd4da5322c6cf48f49560   182620       miles
1  2deccc36451be8362cd4faa696d5039c   186000  kilometres
2  4fd37b51753ef073d242664cbe136b27    65511  kilometres
3  c4d50c214f33d26b070bea3afaef3f94   153000       miles
4  3214bb3fd055ab19a2299f748338e6fd    18800       miles
5  662ca1c4d4a6921478a8def37362a248   221000  kilometres
6  ba233544657b5d677a0ff1d8b3c1aa2a   230000       miles
7  5924ff886891372c956f899317423469   167000  kilometres
8  a97f84af96ddce30074083e93471070d    32000  kilometres
9  e10f71947d774ad8506b8a6e84cf8789     1000  kilometres

In [6]:
convert = []
mileage_type = []

for i in df1.index:
    if df1.loc[i, 'mileageType'] == 'miles':
        mileage_type.append('kilometres')        
        kilometers = int(df1.loc[i, 'mileage'] * 1.609344)
        convert.append(kilometers)
    else:
        mileage_type.append('kilometres')
        convert.append(df1.loc[i, 'mileage'])

In [7]:
df1['kilometers'] = convert
df1['type'] = mileage_type

In [8]:
df1

,ad,mileage,mileageType,kilometers,type
0,f4ec8a11c20bd4da5322c6cf48f49560,182620,miles,293898,kilometres
1,2deccc36451be8362cd4faa696d5039c,186000,kilometres,186000,kilometres
2,4fd37b51753ef073d242664cbe136b27,65511,kilometres,65511,kilometres
3,c4d50c214f33d26b070bea3afaef3f94,153000,miles,246229,kilometres
4,3214bb3fd055ab19a2299f748338e6fd,18800,miles,30255,kilometres
5,662ca1c4d4a6921478a8def37362a248,221000,kilometres,221000,kilometres
6,ba233544657b5d677a0ff1d8b3c1aa2a,230000,miles,370149,kilometres
7,5924ff886891372c956f899317423469,167000,kilometres,167000,kilometres
8,a97f84af96ddce30074083e93471070d,32000,kilometres,32000,kilometres
9,e10f71947d774ad8506b8a6e84cf8789,1000,kilometres,1000,kilometres

In [9]:
convert = []
mileage_type = []

for i in df.index:
    if df.loc[i, 'mileageType'] == 'miles':
        mileage_type.append('kilometres')        
        kilometers = df.loc[i, 'mileage'] * 1.609344
        convert.append(kilometers.astype(int))
    else:
        mileage_type.append('kilometres')
        convert.append(df.loc[i, 'mileage'])

In [10]:
df['kilometers'] = convert
df['type'] = mileage_type

In [11]:
df

,ad,date,price,county,make,model,year,colour,mileage,mileageType,engine_cc,body_type,fuel_type,transmission,doors,seller_type,kilometers,type
0,f4ec8a11c20bd4da5322c6cf48f49560,2016-08-12,1250,Tipperary,ford,focus,2004,grey,182620,miles,1800,saloon,diesel,manual,4,feed,293898,kilometres
1,2deccc36451be8362cd4faa696d5039c,2016-07-13,11500,Limerick,mercedes-benz,e-class,2008,other,186000,kilometres,2200,saloon,diesel,automatic,4,feed,186000,kilometres
2,4fd37b51753ef073d242664cbe136b27,2016-08-08,5150,Tipperary,toyota,yaris,2007,red,65511,kilometres,1000,hatchback,petrol,manual,5,private,65511,kilometres
3,c4d50c214f33d26b070bea3afaef3f94,2016-09-06,350,Tipperary,opel,astra,2002,silver,153000,miles,1400,saloon,petrol,manual,4,private,246229,kilometres
4,3214bb3fd055ab19a2299f748338e6fd,2016-08-16,34950,Clare,audi,a6,2014,black,18800,miles,2000,estate,diesel,manual,5,trader,30255,kilometres
5,662ca1c4d4a6921478a8def37362a248,2016-09-20,2200,Cork,citroen,c4,2007,black,221000,kilometres,1400,hatchback,petrol,manual,5,private,221000,kilometres
6,ba233544657b5d677a0ff1d8b3c1aa2a,2016-08-19,1900,Waterford,bmw,3-series,2003,silver,230000,miles,2000,coupe,diesel,manual,2,private,370149,kilometres
7,5924ff886891372c956f899317423469,2016-08-26,6799,Limerick,volkswagen,passat,2009,black,167000,kilometres,2000,saloon,diesel,manual,4,private,167000,kilometres
8,a97f84af96ddce30074083e93471070d,2017-03-07,37950,Limerick,audi,q5,2015,black,32000,kilometres,2000,estate,diesel,manual,4,feed,32000,kilometres
9,e10f71947d774ad8506b8a6e84cf8789,2016-09-08,22995,Waterford,seat,leon,2016,blue,1000,kilometres,1200,hatchback,petrol,manual,5,feed,1000,kilometres
10,8c3494808ed92ec974eeb659c456a83e,2016-10-05,15450,Waterford,citroen,c4 picasso,2013,red,29826,miles,1600,mpv,diesel,manual,5,feed,48000,kilometres
11,e715414f8853d97df0e044111522e0dc,2017-02-04,3650,Tipperary,opel,corsa,2008,silver,154838,kilometres,1200,hatchback,petrol,manual,3,feed,154838,kilometres
12,9cf4d81fc2ce184c97c6f40dc14b4097,2016-07-11,1500,Tipperary,volkswagen,bora,2004,silver,131523,miles,1400,saloon,petrol,manual,4,trader,211665,kilometres
13,407e70f1bbf8f1f24b981812afd21f81,2016-08-10,6499,Cork,nissan,pathfinder,2007,NaN,119927,miles,2500,suv,diesel,automatic,NaN,feed,193003,kilometres
14,b0dbafac73bddadc151a7779a49b062b,2016-07-06,1450,Limerick,renault,megane,2004,red,155000,miles,1500,estate,diesel,manual,5,private,249448,kilometres
15,2d4a6f1e8c205505513f459913554a2b,2017-03-25,950,Limerick,hyundai,tucson,2006,black,135000,miles,2000,suv,petrol,manual,4,private,217261,kilometres
16,a24244f740b938d7f14e3f0d960deeba,2016-06-03,7650,Kerry,opel,corsa,2010,silver,67311,miles,1200,hatchback,petrol,manual,NaN,feed,108326,kilometres
17,4fb5fb4731cddb5f3b7ace95a60ee794,2017-03-15,8500,Cork,kia,venga,2011,black,73000,kilometres,1400,mpv,diesel,manual,4,feed,73000,kilometres
18,a9b8b670c3de74d91995292b02b24be6,2016-06-12,2950,Cork,ford,fiesta,2006,blue,176276,kilometres,1200,hatchback,petrol,manual,5,private,176276,kilometres
19,dda2ba6251d3a35d03cb8039410d1b5b,2017-03-30,900,Kerry,ford,focus,2003,blue,98670,miles,1400,hatchback,petrol,manual,5,private,158793,kilometres
20,d993cf9a7484fbc5c87ffc8d357f4cff,2016-11-30,2000,Cork,bmw,3-series,2003,red,186,miles,2000,saloon,diesel,manual,4,private,299,kilometres
21,49bf813b8dd1304ff978310b4bf032a5,2016-08-16,NaN,Tipperary,volkswagen,passat,2012,black,NaN,kilometres,1600,saloon,diesel,manual,4,private,NaN,kilometres
22,f2554ea5a14195446e056230294eb15b,2016-09-09,250,Cork,fiat,seicento,2000,grey,90800,miles,1100,hatchback,petrol,manual,3,private,146128,kilometres
23,1f335e798260d8987f39c54ac87974b3,2016-11-08,650,Limerick,renault,scenic,2004,green,109500,kilometres,1400,hatchback,petrol,manual,5,private,109500,kilometres
24,24ee19e332a57f8a2b9dc36f0257d2a5,2016-11-06,2995,Cork,peugeot,1007,2006,red,83000,miles,1400,hatchback,diesel,manual,NaN,feed,133575,kilometres
25,d3d31329260d4f86d8d79287fff7cf41,2016-06-14,999,Cork,ford,focus,2001,red,NaN,kilometres,1400,hatchback,petrol,manual,5,private,NaN,kilometres
26,2a08d7f1f65620ba9f7520a7188a27a9,2017-02-15,16950,Waterford,audi,a6,2011,other,146270,kilometres,2000,saloon,diesel,manual,4,feed,146270,kilometres
27,8dc430bbd957fcff2439e470da89833e,2016-10-12,2500,Waterford,toyota,avensis,2007,silver,442000,miles,0,saloon,diesel,manual,4,private,711330,kilometres
28,b3d2e897e986d2907d04131479568914,2016-08-11,NaN,Tipperary,audi,a4,2000,black,NaN,kilometres,1900,saloon,diesel,manual,4,private,NaN,kilometres
29,8f4dc90f10b72274a84add42900e8a56,2016-11-22,14950,Kerry,nissan,qashqai,2012,silver,86372,miles,1500,hatchback,diesel,manual,NaN,feed,139002,kilometres
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,43be516a209dcdd7f45ceccc27dfc84c,2016-11-10,3250,Waterford,nissan,x-trail,2007,black,NaN,kilometres,2200,estate,diesel,manual,5,feed,NaN,kilometres
19971,3bc6710f0ec04d5334bf22a7287a87ba,2016-07-21,1750,Cork,renault,megane,2004,green,NaN,kilometres,1400,saloon,petrol,manual,5,private,NaN,kilometres
19972,09fc178eb8f8599fcbe9ea081aec364a,2017-01-25,11400,Tipperary,volkswagen,golf,2012,white,180,kilometres,1600,hatchback,diesel,manual,4,private,180,kilometres
19973,a520b45cd07bf006f653382babdf97a9,2016-10-03,13995,Waterford,renault,megane,2013,red,21000,kilometres,1500,estate,diesel,manual,4,feed,21000,kilometres
19974,189cc43ecba8426faac86c1769e8c2a5,2016-07-12,22250,Cork,volkswagen,golf,2015,other,36000,kilometres,1600,estate,diesel,manual,5,feed,36000,kilometres
19975,858a3be28d2ba1118f1410b44d5a9cf4,2016-10-11,13950,Cork,hyundai,i40,2013,black,104000,miles,1700,saloon,diesel,manual,4,feed,167371,kilometres
19976,8e26fb07df480390c7fb204f990cb24b,2017-01-27,3650,Limerick,opel,astra,2009,blue,NaN,kilometres,1700,hatchback,diesel,manual,NaN,feed,NaN,kilometres
19977,a46fef22a5700fe9060d70ea5de62cb1,2016-09-05,2950,Cork,hyundai,tucson,2005,black,103955,miles,2000,suv,petrol,manual,NaN,feed,167299,kilometres
19978,05e14f577559ca61142142e0a42608cb,2016-07-09,11950,Limerick,volkswagen,polo,2012,grey,110000,kilometres,1200,hatchback,diesel,manual,4,private,110000,kilometres
19979,ee9549dcf6d2613a9122e95576e71eb3,2017-02-20,11000,Kerry,bmw,3-series,2011,blue,150000,miles,2000,saloon,diesel,manual,4,private,241401,kilometres
19980,7a1e397da1d1f22e565c1ef1f9c5d6e6,2017-02-24,6500,Clare,ford,focus,2009,black,78921,miles,1600,hatchback,diesel,manual,NaN,feed,127011,kilometres
19981,f62694e3c0120e700a071fa7247d2871,2016-09-05,1300,Tipperary,renault,megane,2005,red,101,kilometres,1600,NaN,petrol,manual,2,private,101,kilometres
19982,2b379160a5f25d0ca0983bfdded18afe,2017-03-12,10099,Limerick,volkswagen,golf,2012,black,56000,miles,1600,hatchback,diesel,manual,5,trader,90123,kilometres
19983,42f70e2e0762677ea543e73f75fa2103,2017-02-25,3150,Limerick,ford,galaxy,2006,silver,120000,miles,1900,mpv,diesel,automatic,5,private,193121,kilometres
19984,2c317e3947a08e8641f828c424dc13dd,2016-06-02,5950,Cork,bmw,3-series,2005,NaN,114440,miles,2000,saloon,petrol,automatic,NaN,feed,184173,kilometres
19985,fce35e3558f0e33cb71742a69d4f0a9e,2017-01-12,11500,Tipperary,hyundai,i30,2012,grey,67000,kilometres,1400,mpv,diesel,manual,4,feed,67000,kilometres
19986,71eac51aa2a90fee539cba45e94bbada,2017-02-08,750,Waterford,nissan,almera,2003,blue,70000,miles,1800,saloon,petrol,automatic,4,private,112654,kilometres
19987,fdfb00ccadb69d90e0a3b374a135293a,2016-08-12,4699,Tipperary,jeep,cj,2007,green,240,kilometres,2000,estate,diesel,manual,5,private,240,kilometres
19988,165b9d40c190d4ca55ef4d0196da840a,2017-01-28,2950,Tipperary,volvo,s80,2009,silver,144260,kilometres,2000,saloon,petrol,manual,4,feed,144260,kilometres
19989,d5c5bc7be5e84fa12e45b56d8326e3f7,2016-07-16,1500,Cork,toyota,celica,2000,silver,79093,miles,1800,hatchback,petrol,manual,NaN,feed,127287,kilometres
19990,434da32b12cd18d932b6af29082dfebd,2017-03-08,3250,Kerry,fiat,punto,2006,blue,31000,kilometres,1200,hatchback,petrol,manual,5,feed,31000,kilometres
19991,17cffc60812cb512de0e55bea3899fb9,2016-10-01,1250,Cork,opel,zafira,2006,silver,NaN,kilometres,1900,NaN,diesel,manual,5,private,NaN,kilometres
19992,87affde9b4eab2c6bca719f9b4ab34db,2016-09-25,4495,Kerry,hyundai,santa-fe,2006,blue,226198,kilometres,2200,estate,diesel,manual,5,feed,226198,kilometres
19993,39e778fdd6353dbacf765321198cf51f,2017-02-09,950,Cork,toyota,yaris,2002,grey,111000,kilometres,1300,hatchback,petrol,manual,5,private,111000,kilometres
19994,3db34686e2c1a4265ce251e0f57ef1f0,2017-01-26,12950,Cork,toyota,corolla,2013,silver,74000,kilometres,1300,saloon,petrol,manual,4,private,74000,kilometres
19995,e39a59b1f19fd4a1b095ab7a6bb30273,2017-01-06,12750,Cork,skoda,fabia,2015,white,28125,miles,1000,hatchback,petrol,manual,4,feed,45262,kilometres
19996,8501fa5b56e5a3f43a5d77d35161cc1d,2016-09-13,2950,Kerry,ford,focus,2007,red,107099,miles,1600,saloon,petrol,manual,4,feed,172359,kilometres
19997,ebd87ccf719a27ca3e1ba8556e93cf96,2016-10-03,14250,Cork,dacia,sandero stepway,2016,silver,5500,kilometres,1500,hatchback,diesel,manual,5,feed,5500,kilometres
19998,ed7762aefdfa3b12bc43f857b5a1617a,2017-01-07,1495,Cork,ford,focus,2008,black,NaN,kilometres,1600,estate,diesel,manual,5,feed,NaN,kilometres
19999,51ea6c7444c4eaeb291ed8ff3e6c8964,2016-11-09,NaN,Waterford,renault,scenic,2006,silver,172792,kilometres,1400,hatchback,petrol,manual,5,feed,172792,kilometres

In [12]:
del df['mileage']
del df['mileageType']

In [13]:
df.head()

,ad,date,price,county,make,model,year,colour,engine_cc,body_type,fuel_type,transmission,doors,seller_type,kilometers,type
0,f4ec8a11c20bd4da5322c6cf48f49560,2016-08-12,1250,Tipperary,ford,focus,2004,grey,1800,saloon,diesel,manual,4,feed,293898,kilometres
1,2deccc36451be8362cd4faa696d5039c,2016-07-13,11500,Limerick,mercedes-benz,e-class,2008,other,2200,saloon,diesel,automatic,4,feed,186000,kilometres
2,4fd37b51753ef073d242664cbe136b27,2016-08-08,5150,Tipperary,toyota,yaris,2007,red,1000,hatchback,petrol,manual,5,private,65511,kilometres
3,c4d50c214f33d26b070bea3afaef3f94,2016-09-06,350,Tipperary,opel,astra,2002,silver,1400,saloon,petrol,manual,4,private,246229,kilometres
4,3214bb3fd055ab19a2299f748338e6fd,2016-08-16,34950,Clare,audi,a6,2014,black,2000,estate,diesel,manual,5,trader,30255,kilometres

In [14]:
df=df.rename(columns = {'kilometers':'mileage','type':'mileageType'})

In [15]:
df.head()

,ad,date,price,county,make,model,year,colour,engine_cc,body_type,fuel_type,transmission,doors,seller_type,mileage,mileageType
0,f4ec8a11c20bd4da5322c6cf48f49560,2016-08-12,1250,Tipperary,ford,focus,2004,grey,1800,saloon,diesel,manual,4,feed,293898,kilometres
1,2deccc36451be8362cd4faa696d5039c,2016-07-13,11500,Limerick,mercedes-benz,e-class,2008,other,2200,saloon,diesel,automatic,4,feed,186000,kilometres
2,4fd37b51753ef073d242664cbe136b27,2016-08-08,5150,Tipperary,toyota,yaris,2007,red,1000,hatchback,petrol,manual,5,private,65511,kilometres
3,c4d50c214f33d26b070bea3afaef3f94,2016-09-06,350,Tipperary,opel,astra,2002,silver,1400,saloon,petrol,manual,4,private,246229,kilometres
4,3214bb3fd055ab19a2299f748338e6fd,2016-08-16,34950,Clare,audi,a6,2014,black,2000,estate,diesel,manual,5,trader,30255,kilometres

In [19]:
df = df[['ad','date','price','county','make','model','year','colour','mileage','mileageType','engine_cc'
        ,'body_type','fuel_type','transmission','doors','seller_type']]
df.head()

,ad,date,price,county,make,model,year,colour,mileage,mileageType,engine_cc,body_type,fuel_type,transmission,doors,seller_type
0,f4ec8a11c20bd4da5322c6cf48f49560,2016-08-12,1250,Tipperary,ford,focus,2004,grey,293898,kilometres,1800,saloon,diesel,manual,4,feed
1,2deccc36451be8362cd4faa696d5039c,2016-07-13,11500,Limerick,mercedes-benz,e-class,2008,other,186000,kilometres,2200,saloon,diesel,automatic,4,feed
2,4fd37b51753ef073d242664cbe136b27,2016-08-08,5150,Tipperary,toyota,yaris,2007,red,65511,kilometres,1000,hatchback,petrol,manual,5,private
3,c4d50c214f33d26b070bea3afaef3f94,2016-09-06,350,Tipperary,opel,astra,2002,silver,246229,kilometres,1400,saloon,petrol,manual,4,private
4,3214bb3fd055ab19a2299f748338e6fd,2016-08-16,34950,Clare,audi,a6,2014,black,30255,kilometres,2000,estate,diesel,manual,5,trader

In [20]:
df.to_csv("C:/Users/sean/Desktop/donedeal/st_donedeal_data_sample.tsv", sep='\t', encoding='utf-8', index=None)